.project-main {
    position: relative !important;
    padding-top: 150px !important;
    padding-bottom: 30px !important;
    /* background-image: var(--section-background-color) !important; */
    color: white !important;
    z-index: -1;
}

.project-content {
    position: relative;
    color: white !important;
    padding-bottom: 100px;
}

.project-content>p {
    padding-top: 1em;
    font-size: 1.2em !important;
    text-align: center;
}

.project-card {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    height: auto !important;
}

.btn-primary {
    color: #fff !important;
    background-color: #623686 !important;
    border-color: #623686 !important;
}

.btn-primary:hover {
    color: #fff !important;
    background-color: #6d20c5d7 !important;
    border-color: #6d20c5d7 !important;
}

.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}